<header class="d-flex">
    <div ><a href="/"><img src="/images/logo.png" class="height-40 mt-10" /></a></div>
    <div class="ml-auto pt-14"><a href="/login" class="btn btn-primary">LOGIN</a></div>
</header>

<div class="height-400" style="background:url(/images/landing.jpg) no-repeat;background-position:center;">
    <div class="pt-140 pl-45 text-white">
        <h3><span class="">Jello</h3>
        <div>Project & Issue Tracker</div>
    </div>
</div>

<div class="container">
    <div class="row pt-25">
        <div class="col-12 col-md-6 pb-40">
            <div class="p-20">
                <h3>Welcome</h3>
                <p class="pt-25">
                    Jello is a project management tool written with C#/ASP.NET Core MVC.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="p-20">
                <h3>Features</h3>
                <br />
                <ul>
                    <li>Easy to Read Code</li>
                    <li>Administrative Area</li>
                    <li>Excel Import and Export</li>
                    <li>Authentication and Authorization</li>
                    <li>Sorting, Filtering, Pagination, Search</li>
                    <li>Minimal Solution as a base for bigger projects</li>
                </ul>
            </div>
        </div>

    </div>
</div>

