@model Jello.Application.Auth._User

<div class="col-3">
    <table class="login-table">
        <tr><td>User</td><td>@Model.User</td></tr>
        <tr><td>Email</td><td>@Model.Email</td></tr>
        <tr><td>Password</td><td>@Model.Password</td></tr>
        <tr><td>Role</td><td>@Model.Role</td></tr>
    </table>
</div>
<br />